<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form name="loginForm" data-ng-submit="submitForm()" novalidate>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" data-ng-model="user.username" required>
                        <p data-ng-show="loginForm.name.$pristine" class="help-block">Your username is required</p>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" data-ng-model="user.password" required>
                        <p data-ng-show="loginForm.password.$pristine" class="help-block">Your password is required</p>
                    </div>
 
                    <button type="submit" class="btn btn-primary" data-ng-disabled="loginForm.$invalid">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>